.pixel-list {
  display: grid;
  grid-template-columns: repeat(var(--width), 10px);
  background: #ccc;
  gap: 1px;
  border: 1px solid #ccc;
}

.pixel {
  width: 10px;
  height: 10px;
  background: #fff;
  cursor: pointer;
}

.pixel-selected {
  background: #000;
}
